{% extends 'base.html' %}

{% block content %}
    <h1>Safarei Park</h1>

        <h5>Name:</h5>
        <p>{{name}}</p>

        <h5>Class:</h5>
        <p>{{class}}</p>
        <p>It's Safarei because it's a play on words with the word safari and my nickname!</p>
        <p>You have {{animal_sum}} animals in the Safarei Park!</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Family</th>
            <th>Class</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>

        {% for animal in animals %}
            <tr>
                <td>{{animal.name}}</td>
                <td>{{animal.amount}}</td>
                <td>{{animal.family}}</td>
                <td>{{animal.animal_class}}</td>
                <td>{{animal.description}}</td>
                <td>{{animal.date_added}}</td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <a href="{% url 'main:create_animal' %}">
        <button>
            Add New Animal
        </button>
    </a>

{% endblock content %}