{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h5 class="h5">Welcome back to Safarei, <span style="color:#FF5FAC;">{{name}}</span> from class <span style="color:#FF5FAC;">{{class}}</span>!</h5>

        <h4 class="totals">You have seen <span style="color:#FF5FAC;">{{animal_sum}}</span> animals from <span style="color:#FF5FAC;">{{species_sum}}</span> species!</h4>

        <div class="container mt-3">
            <div class="row">
                {% for animal in animals %}
                {% if animal.amount != 0 %}
                <div class="col-md-3">
                    <div class="card mb-5 h-100">
                        <img src="{{animal.animal_image.url}}" class="card-img-top" alt="image for {{animal.name}}">
                        <div class="card-body">
                            <h4 class="card-species">{{animal.name}}</h5>
                            <h3 class="card-details">Family: {{animal.family}}, Class: {{animal.animal_class}}.</h3>
                            <p class="card-description">{{animal.description}}</p>
                        </div>
                        <div class="card-footer">
                            <div class="container-fluid">
                                <div class="row">
                                <div class="col">
                                    <!-- Left content -->
                                    <form method="post" action="{% url 'main:update_amount' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="delete">
                                        <input type="hidden" name="animal_id" value="{{ animal.id }}">
                                        <button type="submit" class="btn">X</button>
                                    </form>
                                    <form method="post" action="{% url 'main:update_amount' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="decrement">
                                        <input type="hidden" name="animal_id" value="{{ animal.id }}">
                                        <button type="submit" class="btn">-</button>
                                    </form>
                                </div>
                                <div class="col">
                                    <!-- Centered content -->
                                    <p class ="amount-display">{{animal.amount}}</p>
                                </div>
                                <div class="col">
                                    <!-- Right content -->
                                    <form method="post" action="{% url 'main:update_amount' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="increment">
                                        <input type="hidden" name="animal_id" value="{{ animal.id }}">
                                        <button type="submit" class="btn">+</button>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    <br />

    <!-- <a href="{% url 'main:create_animal' %}">
        <button>
            Add New Animal
        </button>
    </a>

    
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a> -->
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>

{% endblock %}